<div class="delivery-block__content">
    <div class="form-block">
        <label>{{ text_checkout_address }}*</label>
        <input class="main-input" type="text" name="address_1">
    </div>
</div>