<div id="search" class="header-search">
	<div class="header-search__container">
		<label for="header-search-input"  class="header-search__content">
			<input type="text" name="search" value="{{ search }}" id="header-search-input">
			<span class="search-btn">
				<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="catalog/view/theme/empirehall/images/sprite.svg#search"></use></svg>
			</span>
			<span class="search-text">{{ text_search }}</span>
		</label>
		<span class="icon-close">
			<svg class="">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="catalog/view/theme/empirehall/images/sprite.svg#close"></use>
			</svg>
		</span>
	</div>
	<div class="header-search__found">
		<div class="found-content mCustomScrollbar">
			<a href="/" class="found-content__card">
				<div class="img">
					<img src="catalog/view/theme/empirehall/data/logo.svg" data-src="catalog/view/theme/empirehall/data/order-image-1.webp" alt="" class="lazyload">
				</div>
				<div class="text">набор столовый, 2 тарелки, пиала и чашка</div>
			</a>
			<a href="/" class="found-content__card">
				<div class="img">
					<img src="catalog/view/theme/empirehall/data/logo.svg" data-src="catalog/view/theme/empirehall/data/order-image-1.webp" alt="" class="lazyload">
				</div>
				<div class="text">набор столовый, 2 тарелки, пиала и чашка</div>
			</a>
			<a href="/" class="found-content__card">
				<div class="img">
					<img src="catalog/view/theme/empirehall/data/logo.svg" data-src="catalog/view/theme/empirehall/data/order-image-1.webp" alt="" class="lazyload">
				</div>
				<div class="text">набор столовый, 2 тарелки, пиала и чашка</div>
			</a>
			<a href="/" class="found-content__card">
				<div class="img">
					<img src="catalog/view/theme/empirehall/data/logo.svg" data-src="catalog/view/theme/empirehall/data/order-image-1.webp" alt="" class="lazyload">
				</div>
				<div class="text">набор столовый, 2 тарелки, пиала и чашка</div>
			</a>
		</div>
		<a href="/" class="main-button">Показать все результаты <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="catalog/view/theme/empirehall/images/sprite.svg#link-arrow"></use></svg>
		</a>
	</div>
</div>