<div class="mission-block">
    <div class="mission-block__inner" style="background-image: url(front/dist/data/advantages-bg.png);">
        <div class="mission-block__box">
            <div class="mission-block__title">{{ heading_title }}</div>
            <div class="mission-block__text text">
                {{ html }}
            </div>
        </div>
    </div>
</div>