{% if triggers %}
	<div class="main-catalog m-top lazyload" data-bg="catalog/view/theme/empirehall/data/main-catalog-bg.webp">
		<div class="main-advantages__inner">
			<div class="main-subtitle main-subtitle--silver">{{ heading_title }}</div>
			<div class="main-advantages__top">
				<div class="main-advantages__main-image">
					<img src="catalog/view/theme/empirehall/data/logo.svg" data-src="catalog/view/theme/empirehall/data/title-img.svg" width="575" height="51" alt="" class="lazyload">
				</div>
				<div class="main-advantages__navigation">
					<div class="prev-arrow slick-arrow"><div class="popular-products__arrow popular-products__prev-arrow"><svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-49.5 a 49.5,49.5 0 1 1 0,99 a 49.5,49.5 0 1 1 0,-99" stroke="#C4C4C4" stroke-width="1" fill-opacity="0"></path></svg></div></div>
					<div class="next-arrow slick-arrow"><div class="popular-products__arrow popular-products__next-arrow"><svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-49.5 a 49.5,49.5 0 1 1 0,99 a 49.5,49.5 0 1 1 0,-99" stroke="#C4C4C4" stroke-width="1" fill-opacity="0"></path></svg></div></div>
				</div>
			</div>
			<div class="main-advantages__list">
				{% for trigger in triggers %}
					<div class="main-advantages__item" style="background-image: url('data/advantages-bg.webp');">
						<div class="main-advantages__box">
							<div class="main-advantages__image">
								<img src="catalog/view/theme/empirehall/data/logo.svg" data-src="image/{{ trigger.image }}" width="80" height="109" alt="" class="lazyload">
							</div>
							<div class="main-advantages__title">{{ trigger.title }}</div>
							{% if trigger.description %}
								<div class="main-advantages__text">{{ trigger.description }}</div>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}