<div class="instashop">
	<div class="instashop__main-title">
		<img src="catalog/view/theme/empirehall/images/sprite.svg#instashop" width="34" height="37" alt="">
		instashop
	</div>
	<a href="#" class="show-all">Empire Hall @ Instagram</a>
	<div class="instashop__list">
		<div class="instashop__item">
			<div class="instashop__image">
				<img src="catalog/view/theme/empirehall/data/logo.svg" data-src="catalog/view/theme/empirehall/data/instashop-img-1.webp" width="430" height="430" alt="" class="lazyload">
			</div>
			<div class="instashop__box">
				<div class="instashop__title">Empire Hall collections 2019</div>
				<div class="instashop__text">Мы создаем украшения для тех, кто не боится быть собой и умеет действовать решительно.</div>
				<a href="#" class="instashop__link">Подробнее</a>
			</div>
		</div>
		<div class="instashop__item">
			<div class="instashop__image">
				<img src="catalog/view/theme/empirehall/data/logo.svg" data-src="catalog/view/theme/empirehall/data/instashop-img-2.webp" width="430" height="430" alt="" class="lazyload">
			</div>
			<div class="instashop__box">
				<div class="instashop__title">Empire Hall collections 2019</div>
				<div class="instashop__text">Мы создаем украшения для тех, кто не боится быть собой и умеет действовать решительно.</div>
				<a href="#" class="instashop__link">Подробнее</a>
			</div>
		</div>
		<div class="instashop__item">
			<div class="instashop__image">
				<img src="catalog/view/theme/empirehall/data/logo.svg" data-src="catalog/view/theme/empirehall/data/instashop-img-3.webp" width="430" height="430" alt="" class="lazyload">
			</div>
			<div class="instashop__box">
				<div class="instashop__title">Empire Hall collections 2019</div>
				<div class="instashop__text">Мы создаем украшения для тех, кто не боится быть собой и умеет действовать решительно.</div>
				<a href="#" class="instashop__link">Подробнее</a>
			</div>
		</div>
	</div>
</div>
